<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo Video Call</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .video-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .video-wrapper {
            position: relative;
            margin: 10px;
            text-align: center;
            width: 440px;
            height: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        video {
            width: 400px;
            height: 240px;
        }

        .video-wrapper label {
            position: relative;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 2px 5px;
            margin-top: 5px;
        }

        .volume-control {
            margin-top: 5px;
            width: 100%;
        }

        .control-buttons {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <h1 class="mb-4">Echo Video Call</h1>
    <div class="button-container mb-4">
        <button id="startCallBtn" class="btn btn-primary" onclick="startCall()">Start Call</button>
        <button id="endCallBtn" class="btn btn-danger" onclick="endCall()" disabled>End Call</button>
    </div>
    <div id="localContainer" class="video-wrapper">
        <video id="localVideo" autoplay muted></video>
        <label id="localLabel">Local</label>
        <div class="control-buttons">
            <button id="muteBtn" class="btn btn-secondary" onclick="handleMuteClick()" disabled>Mute</button>
            <button id="cameraBtn" class="btn btn-secondary" onclick="handleCameraClick()" disabled>Turn Camera
                Off</button>
        </div>
    </div>
    <div id="videoContainer" class="video-container"></div>

    <script>
        let socket;
        let sessionId;
        let localStream;
        let muted = false;
        let cameraOff = false;
        const peerConnections = {};
        const processedStreams = new Set();
        const configuration = { iceServers: [{ urls: 'stun:stun.l.google.com:19302' }] };
        const localVideo = document.getElementById('localVideo');
        const videoContainer = document.getElementById('videoContainer');
        const startCallBtn = document.getElementById('startCallBtn');
        const endCallBtn = document.getElementById('endCallBtn');
        const muteBtn = document.getElementById("muteBtn");
        const cameraBtn = document.getElementById("cameraBtn");

        function startCall() {
            startCallBtn.disabled = true;
            endCallBtn.disabled = false;

            socket = new WebSocket('ws://localhost:8080/api/video');
            socket.onopen = handleSocketOpen;
            socket.onmessage = handleSocketMessage;
            socket.onclose = handleSocketClose;
            socket.onerror = handleSocketError;
        }

        function handleSocketOpen() {
            console.log("WebSocket 연결");
            navigator.mediaDevices.getUserMedia({ video: true, audio: true })
                .then(stream => {
                    console.log("LocalStream 설정");
                    localStream = stream;
                    localVideo.srcObject = localStream;
                    muteBtn.disabled = false;
                    cameraBtn.disabled = false;
                    socket.send(JSON.stringify({ join: sessionId }));
                })
                .catch(error => console.error("Media Device 연결 오류: ", error));
        }

        function handleSocketMessage(event) {
            const message = JSON.parse(event.data);
            if (message.sessionId) {
                sessionId = message.sessionId;
                document.getElementById('localLabel').innerText = `Local: ${sessionId}`;
            } else if (message.join) {
                handleJoin(message.join);
            } else if (message.offer) {
                handleOffer(message.offer, message.from, message.to);
            } else if (message.answer) {
                handleAnswer(message.answer, message.from, message.to);
            } else if (message.iceCandidate) {
                handleNewICECandidate(message.iceCandidate, message.from, message.to);
            } else if (message.leave) {
                handleLeave(message.leave);
            }
        }

        function handleSocketClose() {
            console.log("WebSocket 연결 끊김");
        }

        function handleSocketError(error) {
            console.error("WebSocket 오류: ", error);
        }

        function endCall() {
            startCallBtn.disabled = false;
            endCallBtn.disabled = true;
            muteBtn.disabled = true;
            cameraBtn.disabled = true;

            Object.values(peerConnections).forEach(pc => pc.close());
            Object.keys(peerConnections).forEach(key => delete peerConnections[key]);

            const remoteVideos = videoContainer.querySelectorAll('.video-wrapper');
            remoteVideos.forEach(videoWrapper => videoWrapper.remove());

            if (socket) {
                socket.send(JSON.stringify({ leave: sessionId }));
                socket.close();
            }

            if (localStream) {
                localStream.getTracks().forEach(track => track.stop());
                localStream = null;
            }

            localVideo.srcObject = null;

            sessionId = null;

            processedStreams.clear();
        }

        function handleMuteClick() {
            localStream.getAudioTracks().forEach((track) => (track.enabled = !track.enabled));
            if (!muted) {
                muteBtn.innerText = "Unmute";
                muted = true;
            } else {
                muteBtn.innerText = "Mute";
                muted = false;
            }
        }

        function handleCameraClick() {
            localStream.getVideoTracks().forEach((track) => (track.enabled = !track.enabled));
            if (cameraOff) {
                cameraBtn.innerText = "Turn Camera Off";
                cameraOff = false;
            } else {
                cameraBtn.innerText = "Turn Camera On";
                cameraOff = true;
            }
        }

        function makePeerConnection(id) {
            console.log("PeerConnection 생성. from:", id);
            const peerConnection = new RTCPeerConnection(configuration);

            peerConnection.onicecandidate = event => {
                if (event.candidate) {
                    console.log("ICE 후보 정보 전송");
                    socket.send(JSON.stringify({ iceCandidate: event.candidate, from: sessionId, to: id }));
                }
            };

            peerConnection.ontrack = event => {
                if (processedStreams.has(event.streams[0].id)) return;
                processedStreams.add(event.streams[0].id);

                const remoteVideoWrapper = document.createElement('div');
                remoteVideoWrapper.className = 'video-wrapper';
                const remoteVideo = document.createElement('video');
                remoteVideo.id = `remoteVideo_${id}`;
                remoteVideo.autoplay = true;
                remoteVideoWrapper.append(remoteVideo);
                const label = document.createElement('label');
                label.innerText = `Remote: ${id}`;
                remoteVideoWrapper.append(label);
                const volumeControl = document.createElement('input');
                volumeControl.type = 'range';
                volumeControl.className = 'volume-control';
                volumeControl.min = '0';
                volumeControl.max = '1';
                volumeControl.step = '0.01';
                volumeControl.value = '1';
                volumeControl.onchange = () => setVolume(volumeControl, remoteVideo.id);
                remoteVideoWrapper.append(volumeControl);

                videoContainer.append(remoteVideoWrapper);
                remoteVideo.srcObject = event.streams[0];
            };

            peerConnection.onconnectionstatechange = () => {
                if (peerConnection.connectionState === 'connected') {
                    console.log(`PeerConnection ${id} 연결`);
                }
            };

            localStream.getTracks().forEach(track => peerConnection.addTrack(track, localStream));

            peerConnections[id] = peerConnection;
            return peerConnection;
        }

        function handleJoin(id) {
            console.log("Offer 생성 및 LocalDescription 설정:", id);
            const peerConnection = makePeerConnection(id);
            peerConnection.createOffer()
                .then(offer => peerConnection.setLocalDescription(offer))
                .then(() => socket.send(JSON.stringify({ offer: peerConnection.localDescription, from: sessionId, to: id })))
                .catch(error => console.error("Offer 생성 오류: ", error));
        }

        function handleOffer(offer, from, to) {
            if (to !== sessionId) return;
            console.log("Offer 수신. from :", from, " to:", to);
            const peerConnection = makePeerConnection(from);
            peerConnection.setRemoteDescription(new RTCSessionDescription(offer))
                .then(() => peerConnection.createAnswer())
                .then(answer => peerConnection.setLocalDescription(answer))
                .then(() => socket.send(JSON.stringify({ answer: peerConnection.localDescription, from: sessionId, to: from })))
                .catch(error => console.error("Offer 핸들링 오류: ", error));
        }

        function handleAnswer(answer, from, to) {
            if (to !== sessionId) return;
            console.log("Answer 수신. from :", from, " to:", to);
            const peerConnection = peerConnections[from];
            peerConnection.setRemoteDescription(new RTCSessionDescription(answer))
                .catch(error => console.error("RemoteDescription 오류: ", error));
        }

        function handleNewICECandidate(candidate, from, to) {
            if (to !== sessionId) return;
            console.log("IceCandidate 수신. from :", from, " to:", to);
            const peerConnection = peerConnections[from];
            peerConnection.addIceCandidate(new RTCIceCandidate(candidate))
                .catch(error => console.error("ICE 후보 추가 오류: ", error));
        }

        function handleLeave(id) {
            const peerConnection = peerConnections[id];
            if (peerConnection) {
                console.log("RemoteVideo 종료: ", id);
                peerConnection.close();
                delete peerConnections[id];

                const remoteVideoWrapper = document.querySelector(`.video-wrapper #remoteVideo_${id}`).parentNode;
                if (remoteVideoWrapper) {
                    remoteVideoWrapper.remove();
                }

                processedStreams.delete(id);
            }
        }

        function setVolume(control, videoId) {
            const video = document.getElementById(videoId);
            video.volume = control.value;
        }
    </script>
</body>

</html>